{% load static %}
<! DOCTYPE html>
<html lang="en">
<head>
	<title>VNS Mobile Banking</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="{% static 'accounttransaction.css' %}">
	<link rel="stylesheet" href="{% static 'https://fonts.googleapis.com/icon?family=Material+Icons' %}" />
    <link rel="stylesheet" href="{% static 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css' %}" />
	<link rel="stylesheet" href="{% static 'https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css' %} " integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
	<link rel="stylesheet" href="{% static 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css' %}"/>
</head>

<div class="a">
	<h1  style="text-align:center;">
		VNS BANKING AND FINANCE SERVICES
	</h1>
</div>
<div class="body"></div>
<div style="">
	<h1 style="color:red;text-align:center;margin-top:100px">Please fill the details VERY CAREFULLY</h1>
</div>
 <div class="box">

	 <form action="\applyaccounttoaccount" method="post" name="f1">
		 {% csrf_token %}
		 <label for="accoutnum" style="color:black" id="accountnum" >Account Number : </label><br>
		 <input type="text" maxlength="16" required placeholder="Enter Account Number " name="accountnum" size="30"><br><br>
		 <label for="ifsc" style="color:black" id="ifsc" > IFSC code : </label><br>
		 <input type="text" required name="ifsc" placeholder="Enter IFSC code " size="30"><br><br>
		 <label for="accountname" id="accountname" style=" color:black">Account Holder Name : </label><br>
		 <input type="text" size="30" name="accountHoldername" placeholder="Account holder Name"><br><br>
		 <label for="amount" style="color:black" id="amount" >Enter Amount : </label><br>
		 <input type="number" name="amount" size="30px" placeholder="Enter Amount"><br><br>


		 <label for="cid" style="color:black">Please Enter Your Bank Account CUSTOMER ID to continue Payment : </label>
	<input type="text" maxlength="8" name="cid" required>
	<br><br>

		 <input class="button" type="submit" value="Proceed" style="margin-left:100px" >
	 </form>
 </div>

</html>