{% load static %}
<! DOCTYPE html>
<html lang="en">
<head>
	<title>VNS fastag recharge page</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="{% static 'cabletv.css' %}">
	<link rel="stylesheet" href="{% static 'https://fonts.googleapis.com/icon?family=Material+Icons' %}" />
    <link rel="stylesheet" href="{% static 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css' %}" />
	<link rel="stylesheet" href="{% static 'https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css' %} " integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
	<link rel="stylesheet" href="{% static 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css' %}"/>
</head>

<div class="a">
	<h1  style="text-align:center;">
		VNS BANKING AND FINANCE SERVICES
	</h1>
</div>

<h3>
	<a href="\home1" class="button">Home</a>
</h3>
<form class="box" method="post" action="\cabletvrecharge" name="f1">
    {% csrf_token %}
     <label for="ctv" style="color:black;" >Select Provider : </label>
         <select name="ctv"style="sixe:10pz" id="ctv">
             <option value="select"  >Select</option>
         <option name="airteltv" value="airteltv">Airtel Digital TV</option>
         <option name="jiofibre" value="jiofibre">Jio Fibre TV </option>
         <option name="dishtv" value="dishtv">Dish TV </option>
          <option name="sundirect" value="sundirect">Sun Direct - TV</option>
             <option name="tatasky" value="tatasky">Tata Sky - TV</option>
             <option name="d2h" value="d2h">D2H - TV</option>
        </select><br><br>
       <label for="customerid" style="color:black">Enter Clable TV  Customer ID : </label>
       <input type="text" placeholder="Enter Customer ID" size="20" name="customerid" ><br><br>
        <label for="plans" style="color:black;">Select Plans  : </label><br><br>
         <select name="plans"style=""  id="plans">
             <option value="select"  >Select</option>
         <option name="rc292" value="rc292">Total Channels : 240, Validity : 1month, With out  HD</option>
         <option name="rc311" value="rc311">Total Channels : 200, Validity : 1month, including HD </option>
         <option name="rc285" value="rc285">Total Channels : 212, Validity : 1month, With out  HD</option>
          <option name="rc232" value="rc232">Total Channels : 220, Validity : 1month, With out HD</option>
             <option name="rc460" value="rc460">Total Channels : 250, Validity : 1month, including HD</option>
             <option name="rc387" value="rc387">Total Channels : 238, Validity : 1month, including HD</option>
        </select><br><br>
    <label for="amount" style="color:black" id="mail" >Enter mail : </label><br>
		 <input type="mail" name="mail" size="30px" placeholder="Enter mail"><br><br>
     <label for="cid" style="color:black;">Please Enter Your Bank Account CUSTOMER ID to continue Payment : </label>
	<input type="text" maxlength="8" name="cid" required>
	<br><br>
    <input type="submit" value="Proceed" style="color:white;background-color:blue;margin-left:150px">
</form>