{% load static %}
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="{% static 'contactus.css' %}">
	<link rel="stylesheet" href="{% static 'https://fonts.googleapis.com/icon?family=Material+Icons' %}" />
    <link rel="stylesheet" href="{% static 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css' %}" />
	<link rel="stylesheet" href="{% static 'https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css' %} " integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
	<link rel="stylesheet" href="{% static 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css' %}"/>
	</head>
<body>
<h1 class="a" style="text-align:center;">
	VNS BANKING AND FINANCE SERVICES
</h1>
<div class="container">
  <div style="text-align:center">
    <h2>Feedback</h2>
    <p>If you are facing any issues please send us the issue you are facing</p>
  </div>
  <div class="row">
    <div class="column">
      <img src="{% static 'contact4.png'%}" style="width:100%">
    </div>
    <div class="column">
      <form action="\contactus1" method="post" name="f1">
          {% csrf_token %}
        <label for="fname">First Name</label>
        <input type="text" id="fname" name="firstname" placeholder="Your name..">
        <label for="lname">Last Name</label>
        <input type="text" id="lname" name="lastname" placeholder="Your last name..">
        <label for="state" class="" style="color:black" >State : </label>
	 <select name="state" id="network" style="margin-left:75px">
             <option name="select" value="select"  >Select</option>
         <option name="AndhraPradesh" value="AndhraPradesh">Andhra Pradesh</option>
         <option name="Telangana" value="Telangana">Telangana</option>
         <option name="Tamilnadu" value="Tamilnadu">Tamilnadu</option>
          <option name="Karnataka" value="Karnataka">Karnataka</option>
             <option name="Kerala" value="Kerala">Kerala</option>
			 <option name="Maharastra" value="Maharastra">Maharastra</option>
			 <option name="Westbengal" value="Westbengal">Westbengal</option>
			 <option name="Gujarat" value="Gujarat">Gujarat</option>
        </select><br><br>

        <label for="subject">Subject</label>
        <textarea id="subject" name="subject" placeholder="Write something.." style="height:170px"></textarea>
        <input type="submit" value="Submit" >
      </form>
    </div>
  </div>
</div>
</html>