{% load static %}
<! DOCTYPE html>
<html lang="en">
<head>
	<title>VNS fastag recharge page</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="{% static 'educationfee.css' %}">
	<link rel="stylesheet" href="{% static 'https://fonts.googleapis.com/icon?family=Material+Icons' %}" />
    <link rel="stylesheet" href="{% static 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css' %}" />
	<link rel="stylesheet" href="{% static 'https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css' %} " integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
	<link rel="stylesheet" href="{% static 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css' %}"/>
</head>

<div class="a">
	<h1  style="text-align:center;">
		VNS BANKING AND FINANCE SERVICES
	</h1>
</div>
<h2>
	<a href="\home1" style="" class="button" >Back</a>
</h2>
<form class="box" name="f1" action="\payeducationfee" method="post">
 {% csrf_token %}
	<label for="state" class="" style="color:black" >State : </label>
	 <select name="state" id="network" style="margin-left:75px">
             <option name="select" value="select"  >Select</option>
         <option name="AndhraPradesh" value="AndhraPradesh">Andhra Pradesh</option>
         <option name="Telangana" value="Telangana">Telangana</option>
         <option name="Tamilnadu" value="Tamilnadu">Tamilnadu</option>
          <option name="Karnataka" value="Karnataka">Karnataka</option>
             <option name="Kerala" value="Kerala">Kerala</option>
			 <option name="Maharastra" value="Maharastra">Maharastra</option>
			 <option name="Westbengal" value="Westbengal">Westbengal</option>
			 <option name="Gujarat" value="Gujarat">Gujarat</option>
        </select><br><br>
	<label for="collage" class="" style="color:black" >State : </label>
	 <select name="collage" id="collage" style="margin-left:75px">
             <option name="select" value="select"  >Select</option>
         <option name="KL University" value="KL University">KL University</option>
         <option name="SRM University" value="SRM University">SRM University</option>
         <option name="VIT University" value="VIT University">VIT University</option>
          <option name="RVR & JCcollage " value="RVR & JC Collage ">RVR & JC Collage </option>
             <option name="Tirumala Engeneering Collage" value="Tirumala Engeneering Collage">Tirumala Engeneering Collage</option>
			 <option name="Sai Tirumala Engeneering Collage" value="Sai Tirumala Engeneering Collage">Sai Tirumala Engeneering Collage</option>
			 <option name="Narasaraopet Engeneering Collage" value="Narasaraopet Engeneering Collage">Narasaraopet Engeneering Collage</option>
			 <option name="Eswar Collage of Engeneering" value="Eswar Collage of Engeneering">Eswar Collage of Engeneering</option>
        </select><br><br>
	<label for="year" class="" style="color:black">Year : </label>
	<select name="year" id="year" style="margin-left:80px">
		 <option name="select" value="select"  >Select</option>
		<option name="1st" value="1st">1st year</option>
		<option name="2nd" value="2nd">2nd year</option>
		<option name="3rd" value="3rd">3rd year</option>
		<option name="4th" value="4th">4th year</option>
	</select><br><br>
	<label for="semester" class="" style="color:black">Semester : </label>
	<select name="semester" id="semester" style="margin-left:45px">
		 <option name="select" value="select"  >Select</option>
		<option name="even" value="even" >Even</option>
		<option name="odd" value="odd">Odd</option>
	</select><br><br>

	<label for="feetype" class="" style="color:black">Fee type : </label>
	<select name="feetype" id="feetype" style="margin-left:50px">
		 <option name="select" value="select"  >Select</option>
		<option name="semester fee" value="semester fee" >Semister fee</option>
		<option name="transport fee" value="transport fee">Transport fee</option>
		<option name="regular exam fee" value="regular exam fee">Regular Exam fee</option>
		<option name="supplementary exam fee" value="supplymentary fee">Supplementary fee</option>
	</select><br><br>

	<label for="amount" class="" style="color:black">Enter Amount : </label>
	<input type="number" name="amount" placeholder="Enter Amount" style="margin-left:13px" required><br><br>

	<label for="collageid" style="color:black">Enter your Collage ID Number : </label>
	<input type="text" required name="collageid" placeholder="Enter Collage ID Number" style="margin-;eft:10px"><br><br>
	<label for="amount" style="color:black" id="mail" >Enter mail : </label><br>
		 <input type="mail" name="mail" size="30px" placeholder="Enter mail"><br><br>
	<label for="cid" style="color:black">Enter Your Bank Account CUSTOMER ID to continue payment : </label>
	<input type="text" maxlength="8" name="cid" required placeholder="Customer Id"><br><br>
	<input type="submit" style="color:white;background-color:blue;margin-left:150px">



</form>