{% load static %}
<! DOCTYPE html>
<html lang="en">
<head>
	<title>VNS Postpaid bills</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="{% static 'electricitybills.css' %}">
	<link rel="stylesheet" href="{% static 'https://fonts.googleapis.com/icon?family=Material+Icons' %}" />
    <link rel="stylesheet" href="{% static 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css' %}" />
	<link rel="stylesheet" href="{% static 'https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css' %} " integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
	<link rel="stylesheet" href="{% static 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css' %}"/>
</head>

<div class="a">
	<h1  style="text-align:center;">
		VNS BANKING AND FINANCE SERVICES
	</h1>
</div>
<h3>
	<a href="\home1" class="button">Home</a>
</h3>
<form class="box" action="\electricbills" method="post" name="f1">
	{% csrf_token %}
    <label for="network" style="color:black">Choose Billers : </label>
         <select name="network" id="network" style="margin-left:15px">
             <option name="select" value="select"  >Select</option>
         <option name="apspdcl" value="apspdcl">APSPDCL AP South</option>
         <option name="epdcl" value="epdcl">EPDCL Eastern Power Distribution</option>
         <option name="uhbvn" value="uhbvn">UHBVN prepaid/Advance Payments</option>
          <option name="cecs" value="cecs">CECS Limitid</option>
             <option name="dnh" value="dnh">DNH power</option>
			 <option name="geb" value="geb">Goa Electricity Bills</option>
			 <option name="indiapower" value="indiapower">India power</option>
			 <option name="tnebp" value="tnebp">Tamil Nadu Electricity Board power</option>
        </select><br><br>
	   <label for="serviceno" class="" style="color:black;">Service Number : </label>
	   <input name="serviceno" type="text" required maxlength="13"><br><br>
	   <label for="ownername" class="" style="color:black">Owner Name : </label>
	<input name="ownername" type="text" style="margin-left:20px" required><br><br>
	<label for="amount" class="" style="color:black">Amount : </label>
	<input type="number" name="amount" style="margin-left:60px" required><br><br>
	<label for="amount" style="color:black" id="mail" >Enter mail : </label><br>
		 <input type="mail" name="mail" size="30px" placeholder="Enter mail"><br><br>
	<label for="cid" style="color:black">Enter Your Bank Account CUSTOMER ID to continue payment : </label>
	<input type="text" maxlength="8" name="cid" required placeholder="Customer Id"><br><br>
	<input type="submit" style="color:white;background-color:blue;margin-left:150px">
</form>
</html>

