{% load static %}
<! DOCTYPE html>
<html lang="en">
<head>
	<title>VNS fastag recharge page</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="{% static 'fastag.css' %}">
	<link rel="stylesheet" href="{% static 'https://fonts.googleapis.com/icon?family=Material+Icons' %}" />
    <link rel="stylesheet" href="{% static 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css' %}" />
	<link rel="stylesheet" href="{% static 'https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css' %} " integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
	<link rel="stylesheet" href="{% static 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css' %}"/>
</head>

<div class="a">
	<h1  style="text-align:center;">
		VNS BANKING AND FINANCE SERVICES
	</h1>
</div>

<h3>
	<a href="\home1" class="button">Home</a>
</h3>
<div class="box">
<form method="post" action="\fastagrecharge" name="f1">
    {% csrf_token %}
   <label for="banks" style="color:black">Choose Fastag Bank :</label>
         <select name="banks" id="banks">
             <option value="select"  >Select</option>
         <option name="airtel" value="airtel">Airtel Payments Bank FASTag</option>
         <option name="axis" value="axis">Axis Bank FASTag</option>
         <option name="bankofbaroda" value="bankofbaroda"> Bank of Baroda - Fastag </option>
          <option name="cityunion" value="cityunion"> City Union Bank - Fastag</option>
             <option name="hdfc" value="hdfc">HDFC retail FASTag Login</option>
        </select><br><br>
     <label for="vehiclereg" style="color:black;margin-left:100px">Vehicle Registration Number : </label><br>
     <input type="text" style="margin-left:100px" name="vehiclereg" placeholder="Enter Valid Registration Number" size="26">
    <br><br>
    <label for="amount" style="color:black" class="">Amount to be Recharged : </label>
    <input type="number" style="" name="amount" placeholder="Enter Amount"><br><br>
    <label for="amount" style="color:black" id="mail" >Enter mail : </label><br>
		 <input type="mail" name="mail" size="30px" placeholder="Enter mail"><br><br>
     <label for="cid" style="color:black;">Please Enter Your Bank Account CUSTOMER ID to continue Payment : </label>
	<input type="text" maxlength="8" name="cid" required>
	<br><br>
    <input type="submit" value="Proceed" style="background-color:blue;color:white;margin-left:170px">
</form>
</div>