{% load static %}
<! DOCTYPE html>
<html lang="en">
<head>
	<title>VNS Netbanking Resister</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="{% static 'netbankingregister.css' %}">
	<link rel="stylesheet" href="{% static 'https://fonts.googleapis.com/icon?family=Material+Icons' %}" />
    <link rel="stylesheet" href="{% static 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css' %}" />
	<link rel="stylesheet" href="{% static 'https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css' %} " integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
	<link rel="stylesheet" href="{% static 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css' %}"/>
</head>
<body class="body">
    <div class="a">
	<h1  style="text-align:center;">
		VNS BANKING AND FINANCE SERVICES
	</h1>

</div>
<h1 style="color:red;font-size:15px ;margin-top:200px;margin-left:500px"> Please Fill out the details very Carefullt</h1>
<h1>

		</h1>
    <div class="box">
        <form >
            <label for="accountnumber"  style="font-size:20px;color:black " >Account Number : </label>
            <input placeholder="Account Number" name="accountnumber" style="margin-left:70px"  required size="30" ><br><br>
			<label for="atmnumber" style="font-size:20px;color:black">ATM card Number : </label>
			<input placeholder="ATM card Number" style="margin-left:55px" name="atmnumber" required size="30"><br><br>
			<label for="mobile" style="font-sixe:20px;color:black">Regestered Mobile Number :</label>
			<input placeholder="Mobile Number" style="margin-left:27px" size="30" name="mobileno" required><br><br>
			<label for="cvv" style="font-size:20px;color:black">CVV Number : </label>
			<input placeholder="CVV Number" size="30" name="cvv" required style="margin-left:100px"><br><br>
			<button type="submit" style="margin-left:200px;background-color:blue;color:white" value="Proceed" >Proceed</button>
        </form>
    </div>
</body>