{% load static %}
<! DOCTYPE html>
<html lang="en">
<head>
	<title>VNS BANKING AND FINANCE SYSTEM</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="{% static 'ourteam.css' %}">
	<link rel="stylesheet" href="{% static 'https://fonts.googleapis.com/icon?family=Material+Icons' %}" />
    <link rel="stylesheet" href="{% static 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css' %}" />
	<link rel="stylesheet" href="{% static 'https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css' %} " integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
	<link rel="stylesheet" href="{% static 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css' %}"/>
</head>
<div class="a">
	<h1  style="text-align:center;">
		VNS BANKING AND FINANCE SERVICES
	</h1>
</div>

	<div class="heading">
		<h1>Our Team</h1>
	</div>
<div class="row">
  <div class="column">
    <img style="margin-left:100px" src="{% static 'sandeep.jpeg' %}"  width="300px" height="300px">
	  <h1 style="margin-left:100px;font-family:arabic;font-size:15.5px;color:palegreen">
		  M.VENKATA SAI SANDEEP
	  </h1>
		  <p1 style="margin-left:150px;font-size:15px;color:white">
			  Developer
		  </p1>
	  <p1 style="margin-left:150px;font-size:15px;color:white">
		   Team lead
	  </p1>
  </div>
  <div class="column">
    <img style="margin-left:300px" src="{% static 'nag.jpeg' %}"  width="300px" height="300px">
	  <h1 style="margin-left:350px;font-family:arabic;font-size:15.5px;color:palegreen">
		  B.NAGARJUNA
	  </h1>
		  <p1 style="margin-left:350px;font-size:15px;color:white">
			  Developer
		  </p1>

  </div>
  <div class="column">
    <img style="margin-left:500px" src="{% static 'paddu.jpeg' %}"  width="300px" height="300px">
	  <h1 style="margin-left:550px;font-family:arabic;font-size:15.5px;color:palegreen">
		  M.VARDHAN
	  </h1>
		  <p1 style="margin-left:550px;font-size:15px;color:white">
			  Developer
		  </p1>
  </div>
</div>
</div>