{% load static %}
<! DOCTYPE html>
<html lang="en">
<head>
	<title>VNS Postpaid bills</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="{% static 'postpaid.css' %}">
	<link rel="stylesheet" href="{% static 'https://fonts.googleapis.com/icon?family=Material+Icons' %}" />
    <link rel="stylesheet" href="{% static 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css' %}" />
	<link rel="stylesheet" href="{% static 'https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css' %} " integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
	<link rel="stylesheet" href="{% static 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css' %}"/>
</head>

<div class="a">
	<h1  style="text-align:center;">
		VNS BANKING AND FINANCE SERVICES
	</h1>
</div>

<h3>
	<a href="\home1" class="button">Home</a>
</h3>

<form class="box" action="\paypostpaid" method="post" name="f1">
    {% csrf_token %}
     <label for="mobileno" style="color:black">Enter Mobile Number : </label>
        <input type="text" maxlength="10"  name="mobileno"><br><br>
    <label for="network" style="color:black">Choose Network : </label>
         <select name="network" id="network">
             <option name="" value="select"  >Select</option>
         <option name="airtel" value="airtel">Airtel</option>
         <option name="jio" value="jio">Jio</option>
         <option name="idea" value="idea">Idea</option>
          <option name="vodaphone" value="vodaphone">Vodaphone</option>
             <option name="bsnl" value="bsnl">BSNL</option>
        </select><br><br>
        <label for="plans" style="color:black;" class="">Select Plans : </label>
            <select name="plans" id="plans">
             <option name="select" value="select"  >Select</option>
         <option name="rc499" value="rc499">RS:499 - Unlimited calls, 100 sms per day , 75 GB per month</option>
         <option name="rc799" value="rc799">Rs:799 - Unlimited calss, 100 sms per day , 100 GB per month</option>

        </select><br><br>
    <label for="mail" style="color:black">Mail : </label>
    <input type="email" name="mail" placeholder="Enter Mail ID " required><br><br>

        <label for="cid" style="color:black" class="">Please Enter your Bank account Customer Id to continue the payment : </label><br>
<br>        <input type="text" name="cid" maxlength="8"><br><br>
        <input type="submit" style="color:white;background-color:blue;margin-left:150px">
</form>