{% load static %}
<! DOCTYPE html>
<html lang="en">
<head>
	<title>VNS Mobile Banking</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="{% static 'vehicleinsurance.css' %}">
	<link rel="stylesheet" href="{% static 'https://fonts.googleapis.com/icon?family=Material+Icons' %}" />
    <link rel="stylesheet" href="{% static 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css' %}" />
	<link rel="stylesheet" href="{% static 'https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css' %} " integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
	<link rel="stylesheet" href="{% static 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css' %}"/>
</head>
<div class="a">
	<h1 style="margin-left:500px">VNS BANKING AND FINANCE SERVICES</h1>
</div>
<img  src="{% static 'vehicleinsurance1.png' %}" width="500" height="400">
</html>
<form class="box" style="margin-left:550px;margin-top:-400px" name="f1" method="post" action="\applyvehicleinsurance">
     {% csrf_token %}
	<label for="name" class="" style=" color:black"> Full Name : </label>
	<input type="text" required name="name"><br><br>
	<label for="mobileno" class="" style="color:black" >Mobile Number : </label>
	<input type="text" required maxlength="10" name="mobileno"><br><br>
	 <label for="gender" style="color:black">Gender : </label>
         <select name="gender" id="gender">
             <option value="select"  >Select</option>
         <option name="male" value="male">Male</option>
         <option name="female" value="female">Female</option>
         <option name="other" value="other">Other</option>

        </select><br><br>
	 <label for="income" style="color:black">Annual Income : </label>
         <select name="income" id="income">
             <option value="select"  >Select</option>
         <option name="3-5 lakhs" value="3-5 lakhs">3-5 Lakhs</option>
         <option name="5-7 lakhs" value="5-7 lakhs">5-7 Lakhs</option>
         <option name="7-10 lakhs" value="7-10 lakhs">7-10 Lakhs</option>
		<option name="10-15 lakhs" value="10-15 lakhs">10-15 Lakhs</option>
			 <option name="more than 15 lakhs" value="more than 15 lakhs">More than 15 Lakhs</option>

        </select><br><br>

		<label for="employeetype" style="color:black">Employee Type  : </label>
         <select name="employeetype" id="employeetype">
             <option value="select"  >Select</option>
         <option name="Employeed" value="Employeed">Employeed</option>
         <option name="Self-Employeed" value="Self-Employeed">Self-Employed</option>
         <option name="Business" value="Business">Business </option>
         </select><br><br>
      <label for="vehicletype" style="color:black">Vehicle Type  : </label>
         <select name="vehicletype" id="vehicletype">
             <option value="select"  >Select</option>
         <option name="2 wheelers" value="2 wheelers">2 wheelers</option>
         <option name="4 wheelers" value="4 wheelers">4 wheelers</option>
         <option name="6 wheelers" value="6 wheelers">4cwheelers</option>
             <option name="more than 6 wheelers" value="more than 6 whleers">More than 6 wheelers</option>
         </select><br><br>
       <label for="cid" style="color:black">Enter Your CustomerId to continue : </label>
	    <input type="text" name="cid" maxlength="16" placeholder="CUSTOMERID"><br><br>
	<input type="submit" style="color:white;background-color:blue;margin-left:150px">



</form>