.a {
  color:blue;
  background-color:skyblue;
 }
 .box {
background-color: gray;
  width: 400px;
  height:230px;
  border: 1px solid black;
  padding: 50px;
  margin: 10px;
  margin-left:850px;
  margin-top:200px;

}
.button {
  background-color: blue;
  border: none;
  color: white;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
}

body
{
    font-family:Tahoma, Geneva,sans-serif;
    color: #fff;
    background:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), Url(cabletv1.jpg);
    background-size: 1500px 700px;
}
