.a {
color:blue;
background-color:skyblue;
}

.body{
 margin:0px;
    text-align:center;
    padding:150px;
    background-color:rgb(21, 169, 228);
    background-image:url("https://cdn.dnaindia.com/sites/default/files/styles/full/public/2019/04/01/808254-loaneducation-thinkstock-041018.jpg");
        background-repeat:no-repeat;
        background-attachment: fixed;
        background-size: auto;
        color:#f26724;
        background-size: 1600px 800px;
}


.box {
background-color: lightgrey;
  width: 500px;
  border: 10px solid green;
  padding: 50px;
  margin: 20px;
  margin-left:650px;
  margin-top:100px;
  color:black;
}

.input {
  border: 2px solid red;
  border-radius: 4px;
}

.button {
  background-color: blue;
  border: none;
  color: white;
  padding: 10px 32px;
  text-align: right;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}






.divShell{
  background-color: antiquewhite
}

H1{
  text-align: center
}
form{
  border-radius: 25px;
  background-color: thistle;
  align-self: center;
  color: brown
  margin: 6px;
  padding-top: 20px;
  padding-bottom:20px;
  padding-left: 50px;
  padding-right: 50px;
  font-family: "Times New Roman", Times, serif;
}

.loanBlock{
  text-align: center;
  font-weight: bold;
  padding: 20px;
}

.aprBlock{
  text-align: center;
  font-weight: bold;
  padding: 20px;
}

.tenureBlock{
  text-align: center;
  font-weight: bold;
  padding: 20px;
}

.buttonBlock{
  text-align: center;
  padding-bottom: 5px;
  padding-top: 10px;
  padding-left: 20px;
  padding-right:20px
}

button{
  position: relative;
  left: 42.5%;
  bottom: 25%;
  background-color: navy;
  color: white;
  padding: 10px;
  border-radius: 30px
}

#EMICapt{

  border-radius: 10px;
  background-color:antiquewhite;
  color: rgb(236, 17, 17);
  padding: 20px;
  text-align: center
}