body
{
    font-family:Tahoma, Geneva,sans-serif;
    color: #fff;
    background:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), Url(login.jpg);
    background-size: cover;
}

.a {
margin-right:0px;
font-size:13px;
font-family:Tahoma,Geneva,sans-serif;
}
.a:hover {
color:white;
background-color:black;
}
.signin {
background-color: lightgrey;
  width: 300px;
  border: 10px solid green;
  padding: 50px;
  margin: 20px;
  margin-left:650px;
  margin-top:100px;
}
.b {
 color:blue;
 background-color:skyblue;
}
